body, header{
    max-width: 1281px;
}


.content{
    margin: 10em 0;
}

.content h2{
    font-size: 36px;
    font-weight: bold;
    color: var(--color-text-primary);

    margin: 100px 35rem;
}

.content .week{
    font-size: 36px;
    font-weight: bold;
    color: var(--color-text-primary);

    margin: 0 5rem;
}   

.contributors-itens{
    display: none;
}

#banner{
    width: 100%;
    
    padding: 80px 0;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 90px;
}

#banner .banner-title{

    margin: 0 0 0 60px;

}

#banner .banner-title span{
    font-size: 40px;
    color: var(--color-primary);
}

#banner .banner-content{
    margin: 0 60px 0 60px;
    text-align: justify;text-justify: inter-word;
}

#banner .banner-content p{
    font-size: 20px;
    color: var(--color-primary);
    line-height: 40px;
}

/* Export */

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;

    margin: 1.5rem 30px;
    color: var(--color-primary);
}

.card {
    height: 350px;
    width: 250px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--color-text-primary);
    box-shadow: -0.5rem 0 2rem rgba(218, 218, 218, 0.801);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(70px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -160px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: var(--color-secondary);
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,var(--color-primary),var(--color-secondary));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid var(--color-secondary);
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,var(--color-primary),var(--color-secondary));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: var(--color-primary);
}

@media (max-width: 1100px) {

    header, body{
        padding-bottom: 4rem;
        max-width: 99.999%;
    }
    
    #banner .banner-title{
        margin-left: 1rem;
    }

    #banner .banner-content{
        margin: 0 2rem;
    }

    .content h2{
        font-size: 36px;
        font-weight: bold;
        color: var(--color-text-primary);
    
        position: relative;
        margin: 100px 40%;

    }
    
    .content .week{
        display: none;
    }   

    .content .card-list{
        display: none;
    }

    .contributors-itens{
        display: block;

        margin-left: 8rem;
        margin-bottom: 100rem;
    
    }

    .contributors-itens ul li{
        list-style: none;

        margin: 1.4rem 0;

    }

    .contributors-itens ul li a{
        color: #ffffff;
        
        font-size: 24px;

        letter-spacing: 0.4rem;

        transition: 0.5s;
    }

    .contributors-itens ul li a:hover{
        margin-left: 4rem;

        color: #e4e3e9;
    }


}