#content{
    width: 100vw;
    height: 100vh;

    display: flex;
    background-color: var(--color-primary);
}

#content #image{
    width: 35vw;

    padding: 0 10%;
}

#content #image img{
    width: 30rem;
}

#content #text{
    width: 65vw;

    padding: 15rem 0;
}

#content #text h1{
    font-size: 60px;
    margin-bottom: 4rem;

    color: var(--color-text-primary);
}

#content #text a{
    padding: 1.3rem 6rem;
    margin: 0 3.0em;

    font-size: 1.4rem;

    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    border-radius: 16px;

    cursor: pointer;
    transition: 0.5s;
}

#content #text a:hover{
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    border: 1px solid var(--color-secondary);
}


@media (max-width: 1000px) {

    #content #image{
        display: none;
    }

    #content #text{
        width: 100vw;
        padding: 13rem 25%;
    }


    #content #text a{

    }

}

@media (max-width: 800px) {

    #content #text{
        width: 100vw;
        padding: 13rem 25%;
    }


}