#content{
    width: 100vw;
    height: 100vh;

    display: flex;
    background-color: var(--color-primary);
}

#content #image{
    width: 40vw;

    padding: 0 150px;
}

#content #image img{
    width: 500px;
}

#content #text{
    width: 60vw;

    padding: 250px 0px;
}

#content #text h1{
    font-size: 60px;
    margin-bottom: 80px;

    color: var(--color-text-primary);
}

#content #text a{
    padding: 20px 90px;
    margin: 50px 4.5rem;

    font-size: 24px;

    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    border-radius: 16px;

    cursor: pointer;
    transition: 0.5s;
}

#content #text a:hover{
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
    border: 1px solid var(--color-secondary);
}