:root{
    --color-text-primary: #ffffff;
    --color-primary: #1BB1B2;
    --color-secondary: #006F70;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

    min-width: 800px;
}

h1, h2, h3, h4, h5{
    font-family: 'Slabo 13px', serif;
}

a{
    text-decoration: none;
}

/* Header */

body{
    background-color: var(--color-primary);
    
}

header{

    width: 100vw;
    height: 120px;
    background-color: var(--color-text-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header #logo{
    margin-left: 5rem;
}

header #logo a{
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

header #links{
    margin-right: 2rem;
}

header #links ul{
    display: flex;
}

header #links ul li{
    list-style: none;
    margin: 0 2.5rem;
}

header #links ul li a{

    font-size: 24px;
    letter-spacing: 4px;
    color: var(--color-primary);
}

header #links ul li .active{
    color: var(--color-primary);
    padding: 10px;
    border-bottom: 1px solid var(--color-secondary);

}

@media (max-width: 900px) {

    header #links ul li{
        list-style: none;
        margin: 0 1.2rem;
    }

}
