
res/fontawesome/js
res/fontawesome/metadata
res/fontawesome/scss
res/fontawesome/less
res/fontawesome/sprites
res/fontawesome/svgs
res/fontawesome/webfonts
res/fontawesome/attribution.js
res/fontawesome/css/brands.css
res/fontawesome/css/brands.min.css
res/fontawesome/css/all.min.css
res/fontawesome/css/fontawesome.css
res/fontawesome/css/fontawesome.min.css
res/fontawesome/css/regular.css
res/fontawesome/css/regular.min.css
res/fontawesome/css/solid.min.css
res/fontawesome/css/solid.css
res/fontawesome/css/svg-with-js.css
res/fontawesome/css/v4-shims.css
res/fontawesome/css/v4-shims.min.css
res/fontawesome/css/svg-with-js.min.css
