@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
    overflow: hidden
}

h2{
    position: relative;
    font-size: 4em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    outline: none;
    animation: neon 8s linear infinite;
}

@keyframes neon {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: #0e3742;
        box-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{    
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;

        color: #fff;
    }
}

p {
    position: absolute;
    left: 45%;
    bottom: 30px;
    font-size:12px;
    color:rgb(241, 234, 234);
}